body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*Search Bar*/
.toolBar {
  flex: 1;
}

label.MuiFormLabel-root-72.MuiInputLabel-root-66.MuiInputLabel-formControl-67.MuiInputLabel-animated-70 {
  color: white;
}

.searchField {
  max-width: 100%;
  height: auto;
}

/*Grid List*/
.gridList {
  width: 500px;
  height: 450px;
  transform: translateZ(0);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
}

/**/
